.aside-collapse {
  background-color: #ffffff;
  height: 100vh;
  position: fixed;
  width: 80px;
  .aside__header {
    .aside__navbar-brand {
      height: 68px;

      background: white;
      padding-left: 23px;
      padding-top: 21px;
    }
  }
  .aside-collapse_menu {
    // position: relative;
  }
}
