@import "../../../../../styles/mixins";

.upload-image__container {
    display: flex;
    width: 100%;
    height: 220px;
    border: 1px dashed #8181A5;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 15px;

    .upload-image__drop-zone {
        width: 175px;
        height: 100%;
        background: #FAFAFC;
        border-radius: 8px;
        
        .upload-image__drop-zone-inside {
            width: 175px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img {
                width: 50px;
                height: 50px;
            }
            p {
                font-size: 11px;
                color: #000000;
            }
        }
    }

    .upload-image__list {
        display: block;
        height: 100%;
        min-width: 300px;
        //flex-grow: 1;
        margin-left: 15px;

        .horizontal-menu {
            position: relative;

            .scroll-menu-arrow {
                z-index: 1;

                .arrow__next {
                    position: absolute;
                    top: 40%;
                    right: 2%;
                }

                .arrow__previous {
                    position: absolute;
                    top: 40%;
                    left: 6%;
                }
            } 

            .menu-item-wrapper {
                outline: none !important;
            }

            .arrow__container {
                display: flex;
                justify-content: center;
                align-items: center;
                background: #FFFFFF;
                border: 1px solid #ECECF2;
                box-sizing: border-box;
                border-radius: 8px;
                width: 40px;
                height: 40px;
                .arrow {
                    font-size: 16px;
                    @include gradient-text;
                }
            }
        
            .image-item__container {
                height: 188px;
                width: 175px;
                background-color: #FFFFFF;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 8px;
                margin-left: 15px;

                .image-item__action-block {
                    padding: 10px;
                    display: flex;
                    flex-direction: row-reverse;

                    .image-item__btn-delete {
                        background: #FFFFFF;
                        border: 1px solid #ECECF2;
                        box-sizing: border-box;
                        border-radius: 8px;
                        height: 33px;
                        width: 33px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        outline: none;
                    }
                }
            }
        }
    }
}