@import "../../styles/mixins";

$red: red;

.aside__header {
  .aside__navbar-brand {
    height: 68px;
    width: auto;
    background: white;
    padding: 20px;
    .aside__name {
      @include gradient-text();
      font-weight: 600;
      font-size: 22px;
      line-height: 27px;
    }
  }
  .aside__toggle {
    cursor: pointer;
    i {
      @include gradient-text();
    }
    font-size: 20px;
  }
}
.aside__content {
  flex-grow: 1;
  overflow-y: auto;
  .aside__default-sidebar {
    // .ant-menu-submenu-open {
    //   ul {
    //     min-height: 200px !important;
    //   }
    // }
    .ant-menu-item {
      a {
        display: flex;
        align-items: center;
        // margin: 0px 6px;
        padding-left: 1rem;
        width: 100%;
  
        &:hover {
          text-decoration: none;
        }
  
        .material-icons {
          height: 14px;
          font-size: 14px;
          margin-right: 10px;
        }
      }
    }
  }
}

