/* Style for InputTag.tsx */
@import "../../../styles/mixins";

.input-tag__wrapper {
    width: 100%;
    min-width: 220px;
    .input-tag__container {
        background: #FFFFFF;
        box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
        border-radius: 7px;
        display: flex;
        flex-wrap: wrap;
        padding: 4px 6px;
        color: #555;
        vertical-align: middle;
        font-size: 13px;
        width: 100%;
        max-width: 100%;
        line-height: 22px;
        cursor: text;

        .input-tag__label {
            margin: 2px 2px 0px 0px;
            display: inline;
            padding: .2em .6em .3em;
            font-weight: 700;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            background: #E5E7FA;
            border-radius: 7px;
            .input-tag__text {
                @include gradient-text;
            }
            .input-tag__icon {
                @include gradient-text;
                margin-left: 5px;
                cursor: pointer;
            }
        }

        input {
            border: none;
            box-shadow: none;
            outline: none;
            background-color: transparent;
            padding: 0 6px;
            margin: 0;
            flex-grow: 1;
        }
    }
}
