.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #f9f9f9 !important;

  .header__overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 280px;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
    cursor: pointer;
  }
  .header__display-block {
    display: block;
  }
  .header__display-none {
    display: none;
  }

  .flex-item {
    flex-grow: 1;
    overflow: scroll;
  }

  > .body {
    flex-grow: 1;
    display: flex;
    flex-direction: row;

    > main {
      width: auto;
      height: 100%;
      flex-grow: 1;
      overflow-y: auto;
    }
  }

  footer {
  }

  .slide-in {
    transform: translateX(0);
    margin-left: 0;
    transition: margin-left 0.25s, margin-right 0.25s, width 0.25s, flex 0.25s;
  }

  .slide-out {
    transform: translateX(-285px);
    margin-left: -285px;
    transition: margin-left 0.25s, margin-right 0.25s, width 0.25s, flex 0.25s;
  }

  //aside

  .app_slide-in {
    transform: translateX(0);
    margin-left: none;
    transition: margin-left 0.25s, margin-right 0.25s, width 0.25s, flex 0.25s;
  }

  .app_slide-out {
    transform: translateX(-285px);
    margin-left: -285px;
    transition: margin-left 0.25s, margin-right 0.25s, width 0.25s, flex 0.25s;
  }

  .content-in {
    // transform: translateX(0);
    margin-left: 257px !important;
    transition: margin-left 0.25s, margin-right 0.25s, width 0.25s, flex 0.25s;
    .app-content {
      margin: 115px 39px 34px 51px;
    }
  }
  .content-out {
    transition: margin-left 0.25s, margin-right 0.25s, width 0.25s, flex 0.25s;
    margin-left: 78px !important;
    .app-header {
      width: calc(100% - 147px) !important;
      margin-left: 34px !important;
    }
  }
}
