$white: #ffffff;
$placeholder-padding: 8px;
$placeholder-font-size: 13px;
$placeholder-font-size-small: 11px;
$placeholder-transition: 200ms ease-in-out;
$input-font-size: 13px;
$input-top: 15px;
$input-height: 40px;
$input-border-color: #f0f0f3;
$wrapper-margin: 40px 0;

$error-color: #e91616;
$warning-color: #faad14;
$success-color: #52c41a;
$validating-color: #f2f2f2;

$gradient-primary-color: #013ffb;
$gradient-secondary-color: #a295f2;

$primary-color:#4865f8;

