@import "~antd/dist/antd.min.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "font.scss";
@import "variables";
@import "mixins";
@import "customize-antd.scss";

// customize scroll bar:
::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: -webkit-linear-gradient(224.53deg, #013FFB 0%, #A295F2 99.2%);
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px -webkit-linear-gradient(224.53deg, #013FFB 0%, #A295F2 99.2%);
    -webkit-box-shadow: inset 0 0 6px -webkit-linear-gradient(224.53deg, #013FFB 0%, #A295F2 99.2%);
    background-color: #F5F5F5;
}

// common style:
body {
    background: #F2F2F2;
    .component__input {
        width: 100%;
        height: 40px;
        padding: 1rem .75rem;
        font-size: 13px;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-clip: padding-box;
        border: 1px solid #ECEBED;
        box-sizing: border-box;
        box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
        border-radius: 7px;
        outline: none;
    }
    .material__input {
        width: 100%;

        label {
            position: relative;
            display: block;
            width: 100%;
            min-height: $input-height + $input-top;
        }

        .placeholder {
            position: absolute;
            display: block;
            top: $input-top;
            z-index: 2;
            font-size: $placeholder-font-size;
            transition: all $placeholder-transition;
            width: 100%;
            cursor: text;
        }

        input, textarea {
            position: absolute;
            background-color: #F2F2F2;
            top: $input-top;
            z-index: 1;
            width: 100%;
            font-size: $input-font-size;
            border: 0;
            border-bottom: 1px solid $input-border-color;
            transition: border-color $placeholder-transition;
            outline: none;
            padding: 0;
            margin: 0;
        }
  
        textarea {
            min-height: $input-height;
            padding: $placeholder-padding 0;
        }
        
        input {
            height: $input-height;
            &:hover {
                border-bottom: 2px solid;
                @include border-color;
            } 
        }

        i {
            position: absolute;
            top: 40%;
            right: 0%;
            font-size: 20px;
            z-index: 2;
        }

        input:focus,
        textarea:focus {
            & + .placeholder {
            top: 0;
            cursor: inherit;
            font-size: $placeholder-font-size-small;
            @include gradient-text
            }
            & ~ i {
                @include gradient-text
            }
            border-bottom: 2px solid;
            @include border-color;
        }
    }
}