@import "~antd/dist/antd.min.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "font.scss";
@import "variables";
@import "mixins";
@import "customize-antd.scss";
@import "animate.scss";

// customize scroll bar:
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: -webkit-linear-gradient(224.53deg, #013ffb 0%, #a295f2 99.2%);
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px -webkit-linear-gradient(224.53deg, #013ffb 0%, #a295f2
        99.2%);
  -webkit-box-shadow: inset 0 0 6px -webkit-linear-gradient(224.53deg, #013ffb
        0%, #a295f2 99.2%);
  background-color: #f5f5f5;
}

// common style:
body {
  background: #f2f2f2;
  font-size: 14px;

  #root {
    width: 100%;
    height: 100%;
  }

  .img-loading {
    max-height: 50px;
    max-width: 50px;
  }

  .img-emty {
    width: inherit;
  }

  .input-icon {
    @include input-icon;
  }

  .component__title {
    @include input-title;
  }

  .component__text-area {
    width: 100%;
    height: 40px;
    min-height: 40px;
    padding: 0.5rem;
    font-size: 13px;
    font-weight: 400;
    background: #ffffff;
    border: 0;
    border-radius: 7px;
    box-sizing: border-box;
    box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
    outline: none;

    &.component__text-area--bordered {
      border: 1px solid #f2f2f2;
    }

    &.component__text-area--material {
      padding-left: 0rem !important;
      padding-right: 1.25rem !important;
      border-radius: 0 !important;
      border-bottom: 2px solid $input-border-color;
      background: none !important;
      box-shadow: none !important;

      &:hover,
      &:focus {
        border-bottom: 2px solid !important;
        @include border-color;
        & ~ i {
          @include gradient-text;
        }
      }
    }
  }

  .component__input {
    width: 100%;
    height: 40px;
    padding: 1rem 1.75rem 1rem 0.75rem;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-clip: padding-box;
    border: 0;
    box-sizing: border-box;
    box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
    border-radius: 7px;
    outline: none;

    &.component__input--bordered {
      border: 1px solid #f2f2f2;
    }

    &.component__input--material {
      padding: 1rem 1.25rem 1rem 0rem !important;
      border-radius: 0 !important;
      border-bottom: 2px solid $input-border-color;
      background: none !important;
      box-shadow: none !important;

      &:hover,
      &:focus {
        border-bottom: 2px solid !important;
        @include border-color;
        & ~ i {
          @include gradient-text;
        }
      }
    }
  }

  .btn {
    white-space: nowrap;
    color: inherit;
    &:focus {
      box-shadow: none;
    }
  }
  .component__btn-primary {
    @include background-color;
    color: $white;
    border: none;
    border-radius: 7px;
    text-align: center;
    height: 38px;
    font-weight: 600;
    padding: 0 16px;
    &:hover {
      color: $white;
    }
  }

  .component__btn-toggle {
    background: #f1f1f6;
    box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
    box-sizing: border-box;
    height: 38px;
    border-radius: 7px;
    border: none;

    i,
    span {
      @include gradient-text();
    }
    i {
      margin-right: 10px;
    }
    span {
      font-weight: bold;
    }

    &.component__btn-toggle-active {
      @include background-color();
      border: none;
      i,
      span {
        @include white-text();
      }
    }

    &:hover {
      @include background-color();
      border: none;
      i,
      span {
        @include white-text();
      }
    }
  }

  .component__btn-outline-primary {
    border: 1px solid;
    @include border-radius-color;
    border-radius: 7px;
    height: 38px;
    margin: 0 auto;
    @include gradient-text;
    font-weight: 500;
    &:hover {
      border: 1px solid transparent;
      @include background-color;
      color: #ffffff;
      -webkit-background-clip: initial;
      -moz-background-clip: initial;
      background-clip: initial;
      -webkit-text-fill-color: initial;
    }
  }

  .component__btn-cancel {
    @include background-color-delete();
    color: #ffffff;
    color: $white;
    border: none;
    border-radius: 7px;
    text-align: center;
    height: 38px;
    font-weight: 600;
    padding: 0 16px;
    &:hover {
      color: $white;
    }
  }
  .component__btn-save-template {
    background: #f2f2f2;
    color: #f5d117;
  }
  .component__btn-save-draft {
    background-color: #f2f2f2;
    span {
      @include gradient-text();
    }
  }
  .gradient-btn-icon {
    @include gradient-text();
    font-size: 20px;
  }

  .component__btn-delete {
    font-size: 20px;
    @include gradient-text-delete();
  }
  /* Page*/
  /* Master*/
  .page {
    &.page__master,
    &.page__detail {
      .page__header {
        margin-bottom: 30px;
        font-weight: bold;
        font-size: 30px;
        .page__title {
          @include gradient-text();
        }
        .page__id {
          color: #4f4f4f;
        }
      }
      .page__search {
        margin-bottom: 20px;
        .ant-card-head {
          border-bottom: none;
        }
      }
      .label-detail {
        width: 100%;
        font-size: 13px;
        line-height: 150%;
        color: #8181a5;
        margin-bottom: 2px;
      }
      .page__detail-tabs {
        .ant-tabs {
          overflow: unset !important;
        }
      }
      .page__detail-invoice {
        .page__detail-invoice-header {
          background: #fafafc;
          border-radius: 8px;
          padding: 0px 14px;
          .invoice__row {
            @include gradient_text();
            font-weight: bold;
            font-size: 18px;
          }
        }
      }
      .invoice__delete {
        @include gradient-text-delete();
        font-weight: 600;
      }
      .invoice__add-row {
        .invoice__add-row-text {
          @include gradient-text();
          text-transform: uppercase;
          font-weight: 600;
        }
      }
      .page__detail-total {
        border: 1px solid #eeeeee;
        box-sizing: border-box;
        border-radius: 12px;
        padding: 20px;
      }
      .page__detail-text-total {
        @include gradient-text();
        font-weight: 600;
      }
      .page__detail-card-right {
        max-height: 373px;
        font-size: 18px;
      }
    }
    .page__master-table {
      .ant-card {
        height: 100%;
      }
      .table-title {
        color: #4f4f4f;
        font-weight: bold;
        font-size: 18px;
        line-height: 27px;
      }
      .ant-table-tbody
        > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected),
      .ant-table-row-selected {
        background: #ffffff;
        box-shadow: 0px 3px 8px rgba(126, 114, 242, 0.3);
        border-radius: 15px;
      }
      .ant-card-body {
        padding: 0px 10px !important;
        .ant-table-wrapper {
          .ant-table {
            .ant-table-title {
              border: none;
            }
            border-radius: 7px;
            .ant-table-thead {
              tr {
                th {
                  border: none !important;
                  @include gradient-text();
                  font-weight: bold;
                  font-size: 13px;
                  line-height: 18px;
                }
              }
            }
            .ant-checkbox-wrapper:hover .ant-checkbox-inner,
            .ant-checkbox:hover .ant-checkbox-inner {
              border-color: #365bf8;
            }
            .ant-checkbox-checked .ant-checkbox-inner,
            .ant-checkbox-indeterminate .ant-checkbox-inner:after {
              @include background-color();
            }
            .ant-table-tbody > tr.ant-table-row-selected:hover > td,
            .ant-table-tbody > tr.ant-table-row-selected > td {
              background: #ffffff;
            }
            .ant-table-tbody {
              .ant-table-cell {
                color: #1c1d21;
                font-weight: bold;
                font-size: 13px;
                line-height: 150%;
              }
            }
          }
        }
        tr {
          td {
            border-bottom: none;
          }
        }
      }
    }
  }
  .mt__1 {
    margin-top: -1.8rem !important;
  }
  .label {
    color: #4f4f4f;
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
  }

  // status

  @mixin state {
    font-size: 12px;
    text-transform: none;
    border-radius: 8px;
    padding: 7px 19px 7px 19px;
    white-space: nowrap;
    width: 100px;
    text-align: center;
  }

  .shipped {
    @include state();
    background: linear-gradient(
        0deg,
        rgba(94, 129, 244, 0.1),
        rgba(94, 129, 244, 0.1)
      ),
      #ffffff;
    background: -moz-linear-gradient(
        0deg,
        rgba(94, 129, 244, 0.1),
        rgba(94, 129, 244, 0.1)
      ),
      #ffffff;
    background: -webkit-linear-gradient(
        0deg,
        rgba(94, 129, 244, 0.1),
        rgba(94, 129, 244, 0.1)
      ),
      #ffffff;
    color: #2f80ed;
  }

  .processing {
    @include state();
    color: #f2c94c;
    background: linear-gradient(
        0deg,
        rgba(244, 190, 94, 0.1),
        rgba(244, 190, 94, 0.1)
      ),
      #ffffff;
    background: -moz-linear-gradient(
        0deg,
        rgba(244, 190, 94, 0.1),
        rgba(244, 190, 94, 0.1)
      ),
      #ffffff;
    background: -webkit-linear-gradient(
        0deg,
        rgba(244, 190, 94, 0.1),
        rgba(244, 190, 94, 0.1)
      ),
      #ffffff;
  }

  .cancelled {
    @include state();
    color: #eb5757;
    background: linear-gradient(
        0deg,
        rgba(255, 128, 139, 0.1),
        rgba(255, 128, 139, 0.1)
      ),
      #ffffff;
    background: -moz-linear-gradient(
        0deg,
        rgba(255, 128, 139, 0.1),
        rgba(255, 128, 139, 0.1)
      ),
      #ffffff;
    background: -webkit-linear-gradient(
        0deg,
        rgba(255, 128, 139, 0.1),
        rgba(255, 128, 139, 0.1)
      ),
      #ffffff;
  }
  .error-message {
    font-size: 0.8rem;
  }

  .error-border {
    border-color: $error-color !important;
  }

  .error-text {
    color: $error-color !important;
  }

  .error-background {
    background-color: $error-color !important;
  }
}

@media screen and (max-width: 1440px) {
  .ant-layout-sider {
    max-width: 225px !important;
    min-width: 225px !important;
  }

}

@media screen and (min-width: 1367px) {
  .page__master-table {
    max-width: 1600px;
  }
}

@media screen and (max-width: 1366px) {
  .page__master-table {
    max-width: 1100px;
  }
}

@media screen and (min-width: 1367px) {
  .page__master-table {
    max-width: 1600px;
  }
}

@media screen and (max-width: 1366px) {
  .page__master-table {
    max-width: 1100px;
  }
}
