@import "~antd/dist/antd.min.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "font.scss";
@import "variables";
@import "mixins";
@import "customize-antd.scss";

// customize scroll bar:
::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: -webkit-linear-gradient(224.53deg, #013FFB 0%, #A295F2 99.2%);
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px -webkit-linear-gradient(224.53deg, #013FFB 0%, #A295F2 99.2%);
    -webkit-box-shadow: inset 0 0 6px -webkit-linear-gradient(224.53deg, #013FFB 0%, #A295F2 99.2%);
    background-color: #F5F5F5;
}

// common style:
body {
    background: #F2F2F2;
    font-size: 14px;
    
    .component__text-area {
        width: 100%;
        height: 40px;
        min-height: 40px;
        padding: 0.5rem;
        font-size: 13px;
        font-weight: 400;
        background: #FFFFFF;
        border: 0;
        border-radius: 7px;
        box-sizing: border-box;
        box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
        outline: none;

        &.component__text-area--material {
            padding-left: 0rem !important;
            padding-right: 1.25rem !important;
            border-radius: 0 !important;
            border-bottom: 2px solid $input-border-color;
            background: none !important;
            box-shadow: none !important;

            &:hover, &:focus {
                border-bottom: 2px solid !important;
                @include border-color;
                & ~ i {
                    @include gradient-text;
                }
            }
        }
    }

    .component__input {
        width: 100%;
        height: 40px;
        padding: 1rem 1.75rem 1rem .75rem;
        font-size: 13px;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-clip: padding-box;
        border: 0;
        box-sizing: border-box;
        box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
        border-radius: 7px;
        outline: none;

        &.component__input--material {
            padding: 1rem 1.25rem 1rem 0rem !important;
            border-radius: 0 !important;
            border-bottom: 2px solid $input-border-color;
            background: none !important;
            box-shadow: none !important;

            &:hover, &:focus {
                border-bottom: 2px solid !important;
                @include border-color;
                & ~ i {
                    @include gradient-text;
                }
            }
        }

    }    
}