@import "~antd/dist/antd.min.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "font.scss";
@import "variables";
@import "mixins";
@import "customize-antd.scss";

// customize scroll bar:
::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: -webkit-linear-gradient(224.53deg, #013ffb 0%, #a295f2 99.2%);
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px -webkit-linear-gradient(224.53deg, #013ffb 0%, #a295f2
        99.2%);
  -webkit-box-shadow: inset 0 0 6px -webkit-linear-gradient(224.53deg, #013ffb
        0%, #a295f2 99.2%);
  background-color: #f5f5f5;
}

// common style:
body {
  background: #f2f2f2;
  .component__input {
    width: 100%;
    height: 40px;
    padding: 1rem 0.75rem;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-clip: padding-box;
    border: 1px solid #ecebed;
    box-sizing: border-box;
    box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
    border-radius: 7px;
    outline: none;
  }
  .component__btn-primary {
    @include background-color;
    color: $white;
    border: none;
    border-radius: 7px;
    text-align: center;
    height: 38px;
    &:hover {
      color: $white;
    }
  }
}
