@import "~antd/dist/antd.min.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "font.scss";
@import "variables";
@import "mixins";
@import "customize-antd.scss";

// customize scroll bar:
::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: -webkit-linear-gradient(224.53deg, #013ffb 0%, #a295f2 99.2%);
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px -webkit-linear-gradient(224.53deg, #013ffb 0%, #a295f2
        99.2%);
  -webkit-box-shadow: inset 0 0 6px -webkit-linear-gradient(224.53deg, #013ffb
        0%, #a295f2 99.2%);
  background-color: #f5f5f5;
}

// common style:
body {
  background: #f2f2f2;
  .component__text-area {
    width: 100%;
    height: 40px;
    min-height: 40px;
    padding: 0.5rem;
    font-size: 13px;
    font-weight: 400;
    background: #ffffff;
    border: 0;
    border-radius: 7px;
    box-sizing: border-box;
    box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
    outline: none;

    &.component__text-area--material {
      padding-left: 0rem !important;
      padding-right: 1.25rem !important;
      border-radius: 0 !important;
      border-bottom: 2px solid $input-border-color;
      background: none !important;
      box-shadow: none !important;

      &:hover,
      &:focus {
        border-bottom: 2px solid !important;
        @include border-color;
        & ~ i {
          @include gradient-text;
        }
      }
    }
  }

  .component__input {
    width: 100%;
    height: 40px;
    padding: 1rem 1.75rem 1rem 0.75rem;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-clip: padding-box;
    border: 0;
    box-sizing: border-box;
    box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
    border-radius: 7px;
    outline: none;

    &.component__input--material {
      padding: 1rem 1.25rem 1rem 0rem !important;
      border-radius: 0 !important;
      border-bottom: 2px solid $input-border-color;
      background: none !important;
      box-shadow: none !important;

      &:hover,
      &:focus {
        border-bottom: 2px solid !important;
        @include border-color;
        & ~ i {
          @include gradient-text;
        }
      }
    }
  }
  .component__btn-primary {
    @include background-color;
    color: $white;
    border: none;
    border-radius: 7px;
    text-align: center;
    height: 38px;
    font-weight: 600;
    padding: 0 16px;
    &:hover {
      color: $white;
    }
  }

  .component__btn-toggle {
    background: #fafafc;
    div:first-child {
      margin-bottom: -5px;
    }
    div {
      @include gradient-text();
    }
  }
  .component__btn-outline-primary {
    background-image: linear-gradient(224.53deg, #013ffb 0%, #a295f2 99.2%);
    border-radius: 7px;
    box-sizing: border-box;
    color: linear-gradient(224.53deg, #013ffb 0%, #a295f2 99.2%);
    display: block;
    height: 38px;
    margin: 0 auto;
    padding: 2px;
    position: relative;
    z-index: 2;
    min-width: 75px;
    .border-outline {
      align-items: center;
      background: $white;
      border-radius: 3px;
      display: flex;
      justify-content: center;
      height: 100%;
      width: 100%;
      .text-outline {
        @include gradient-text();
        font-weight: 600;
      }
    }
  }
  .component_btn-view {
  }
  .component_btn-edit {
  }
  .component_btn-delete {
  }
  /* Page*/
  /* Master*/
  .page {
    &.page__master,
    &.page__detail {
      .page__header {
        margin-bottom: 30px;
        .page__title {
          @include gradient-text();
          font-weight: bold;
          font-size: 30px;
          line-height: 27px;
        }
      }
      .page__search {
        margin-bottom: 20px;
        .ant-card-head {
          border-bottom: none;
        }
      }
    }
    .page__master-table {
      .table-title {
        color: #4f4f4f;
        font-weight: bold;
        font-size: 18px;
        line-height: 27px;
      }
      .ant-table-tbody
        > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) {
        background: #ffffff;
        box-shadow: 0px 3px 8px rgba(126, 114, 242, 0.3);
        border-radius: 15px;
        padding-left: 5px;
        padding-right: 5px;
      }
      .ant-card-body {
        padding: 0 !important;
        .ant-table-wrapper {
          .ant-table {
            .ant-table-title {
              border: none;
            }
            border-radius: 7px;
            .ant-table-thead {
              tr {
                th {
                  border: none !important;
                }
              }
            }
          }
        }
        tr {
          td {
            border-bottom: none;
          }
        }
      }
    }
  }
  .mt__1 {
    margin-top: -2rem !important;
  }
  .label {
    color: #4f4f4f;
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
  }
}
