/* Style for TextArea.tsx */
.text-area__container {
    width: 100%;
    min-width: 220px;
    position: relative;
    background-color: #F2F2F2;
    .text-area__icon {
        position: absolute;
        right: 2%;
        top: 5%;
        cursor: pointer;
        &:hover {
            opacity: 0.7;
        }
    }
}