@import "../../../styles/mixins";
/* Style for TextArea.tsx */
.text-area__container {
  width: 100%;

  background-color: #f2f2f2;
  .text-area__title {
    @include input-title;
  }
  .text-area_wrapper {
    width: 100%;
    position: relative;
    .text-area__icon {
      @include input-icon;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
