/* Style for InputNumber.tsx */
.input-number__container {
    width: 100%;
    min-width: 100px;
    position: relative;
    background-color: #F2F2F2;
    .input-number__icon {
        position: absolute;
        right: 5%;
        top: 35%;
        cursor: pointer;
        &:hover {
            opacity: 0.7;
        }
    }
}
