.app {
  height: 100%;
  background-color: #f9f9f9 !important;
  overflow: hidden;
  margin: 0px;

  .column {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .left-side {
    background-color: #ffffff;
    flex-shrink: 0;
  }

  .right-side {
    flex-grow: 1;
    position: relative;
  }

  .header__overlay {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
    cursor: pointer;
  }
  .header__display-block {
    display: block;
  }
  .header__display-none {
    display: none;
  }
  .header-wrapper {
    padding: 20px;
    background: #f9f9f9;
    width: 100%;
  }
  .flex-item {
    flex-grow: 1;
    min-height: 100vh;
  }

  .body {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    .app-content {
      width: 100%;
      margin-bottom: 75px;
    }
  }

}