@import "../../../../styles/mixins";
/* Style for AdvanceStringFilter.tsx */
.advance-string-filter__container {
    width: 100%;
    min-width: 220px;
    background-color: #F2F2F2;
    .advance-string-filter__title {
        @include input-title;
    }
    .advance-string-filter__wrapper {
        widows: 100%;
        position: relative;
        .advance-string-filter__icon {
            @include input-icon;
            &:hover {
                opacity: 0.7;
            }
        }
    }
}