/* Style for InputText.tsx */
.input-text__container {
    width: 100%;
    min-width: 220px;
    position: relative;
    background-color: #F2F2F2;
    .input-text__icon {
        position: absolute;
        right: 5%;
        top: 38%;
        cursor: pointer;
        &:hover {
            opacity: 0.7;
        }
    }
}