@import "../../../styles/mixins";
/* Style for InputText.tsx */
.input-text__container {
    width: 100%;
    min-width: 220px;
    background-color: #F2F2F2;
    .input-text__title {
        @include input-title;
    }
    .input-text__wrapper {
        widows: 100%;
        position: relative;
        .input-text__icon {
            @include input-icon;
            &:hover {
                opacity: 0.7;
            }
        }
    }
}